<style>

    .ordersTable tr:first-child th, .customersTable tr:first-child th {
        background-color: #027FF4;
        color: #fff;
        font-weight: bold;
    }

    .ordersTable {
        width: 85%;
    }


</style>


<div class="page-header">
    <h1>All Contacts</h1>
</div>
<p ng-show="showMessage"> {{ message }}</p>

<h2 class="inline" ng-if="contacts.length == 0">You have no contacts. </h2>
<h2 class="inline" ng-if="contacts.length == 1">You have <span class="label label-info">{{ contacts.length }}</span>
    contact.</h2>
<h2 class="inline" ng-if="contacts.length > 1">You have <span class="label label-info">{{ contacts.length }}</span>
    contacts.</h2>


<div class="col-sm-4 col-xs-11 col-lg-4">
    <form class="form-search">
        <div class="input-group">
            <input type="text" class="form-control " placeholder="Search..." ng-model="query">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-search">Search</button>
              </span>
        </div>
    </form>
</div>

<table class="table table-hover" ng-show="contacts.length >= 1">
    <thead>
    <tr>
        <th ng-repeat="header in headers">{{headers[$index]}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in contacts | filter: query">
        <td>{{ contact.name }}</td>
        <td>{{ contact.phone }}</td>
        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
        <td>
            <a class="btn btn-success" ng-click="removeCartData()" ng-href="#/store/{{contact._id}}"><i
                    class="glyphicon-shopping-cart glyphicon"></i> Order</a>
            <a class="btn btn-info" ng-click="view(contact._id)"><i class="glyphicon-eye-open glyphicon"></i> View more</a>
            <a class="btn btn-warning" ng-click="edit(contact._id)"><i class="glyphicon-pencil glyphicon"></i> Edit</a>
            <a class="btn btn-danger" ng-click="deleteCon(contact._id)"><i class="glyphicon-trash glyphicon"></i> Delete</a>

        </td>
    </tr>
    </tbody>
</table>

<a class="btn btn-info" ng-click="add()"><i class="glyphicon-plus glyphicon"></i> </a>


<!--add contact modal-->
<script type="text/ng-template" id="addContactModal.html">
    <div modal="contactAdd">
        <div class="modal-header">
            <h3>Add a contact</h3>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal" ng-model="addForm">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputName" ng-model="form.add.name" name="name"
                               placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPhone">Phone</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputPhone" ng-model="form.add.phone" name="phone"
                               placeholder="Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="inputEmail">E-mail</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputEmail" ng-model="form.add.email" name="email"
                               placeholder="E-mail">
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="addContact()" class="btn btn-info"><i class="icon-plus icon-white"></i> Add Contact
            </button>
            <button class="btn btn-warning cancel" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>


<!--view contact modal-->
<script type="text/ng-template" id="viewContactModal.html">

    <div modal="contactView">
        <div class="modal-header">
            <h3>{{contact.name }}</h3>
        </div>
        <!--<div class="modal-body">-->

        <!--<dl class="dl-horizontal">-->
        <!--<dt ng-repeat="header in allheaders ">{{header }}:</dt>-->
        <!--<dd>{{contact.name }}</dd>-->
        <!--<dd>{{contact.phone || " - " }}</dd>-->
        <!--<dd>-->
        <!--<a href="mailto:{{ contact.email }}">{{contact.email || " - " }}</a>-->
        <!--</dd>-->
        <!--</dl>-->

        <!--</div>-->
        <div class="modal-body">
            <table class="table table-hover table-striped table-condensed table-bordered ordersTable"
                    >


                <thead>
                <tr>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="order in contact.shoppingCart" class="repeat-animation">


                    <td>{{order.name}}</td>
                    <td>{{order.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <td>{{order.count}}</td>
                    <td>{{order.price | currency }}</td>
                    <td>{{order.count * order.price | currency }}</td>
                </tr>

                <tr class="repeat-animation">
                    <td colspan="4">
                        &nbsp;
                    </td>
                    <td>
                        <strong>{{ ordersTotal | currency }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="close()">Close</button>
        </div>
    </div>
</script>


<!-- edit contact modal -->
<script type="text/ng-template" id="editContactModal.html">
    <div modal="contactEdit">
        <div class="modal-header">
            <h3>Edit - {{ name }}</h3>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal" ng-model="addForm">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputName" ng-model="form.edit.name" name="name"
                               placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPhone">Phone</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputPhone" ng-model="form.edit.phone" name="phone"
                               placeholder="Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="inputEmail">E-mail</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputEmail" ng-model="form.edit.email" name="email"
                               placeholder="E-mail">
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="editContact()" class="btn btn-info"><i class="icon-plus icon-white"></i> Edit Contact
            </button>
            <button class="btn btn-warning cancel" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>

<!--delete contact modal-->
<script type="text/ng-template" id="deleteContactModal.html">

    <div modal="contactDelete">
        <div class="modal-header">
            <h3>Confirmation</h3>
        </div>
        <div class="modal-body">
            Are you sure you'd like to delete {{ name }}?
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger ok" ng-click="deleteContact()">OK</button>
            <button class="btn btn-warning cancel" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>

