<div class="navbar navbar-inverse">
    <a class="navbar-brand" ng-href="#/store">Inventory</a>
    <cart-summary/>
</div>

<h1>Select Customer</h1>

<table class="table table-hover" ng-show="contacts.length >= 1">
    <thead>
    <tr>
        <th ng-repeat="header in headers">{{headers[$index]}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in contacts | filter: query">
        <td>{{ contact.name }}</td>
        <td>{{ contact.phone }}</td>
        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
        <td>
            <a class="btn btn-primary" ng-click="selected.contact = contact"><i class="glyphicon-plus glyphicon"></i> Select Customer</a>
        </td>
    </tr>
    </tbody>
</table>
<h2>You select: {{selected.contact.name}}</h2>
<div class="text-center">
    <a class="btn btn-primary" ng-href="#/store">Continue shopping</a>
    <a class="btn btn-primary" ng-href="#/placeOrder">Save data now</a>
</div>
