<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Event Calendar</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div data="events" dhx-scheduler style="height:600px; width:800px;">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
            <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
            <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>

            <div dhx-template="event_bar_text">
                <strong>#{{event.id}}</strong>: {{event.text | uppercase}}
            </div>
        </div>

    </div>
</div>